# Your Discord Bot Token (Same token as your main Python bot if you want them to run together)
DISCORD_TOKEN=your_bot_token_here

# MongoDB Connection String (Only required if useMongo is true in config.js)
MONGO_URI=mongodb+srv://user:password@cluster.mongodb.net/tickets?retryWrites=true&w=majority
